/**
 * Reset the CSS Style of Many Elements
 * @header
 */

html, body, h1, h2, h3, h4, h5, h6, tr, td, th, table, p, blockquote, q, ul, ol, li, dl, dt, dd, div { 
	margin: 0; padding: 0; list-style: none; border: 0px none; border-collapse: collapse; font-style: normal; 
}
