@import 'reset.css'; 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/** Fonts **/
body { color: #ccc; }
h1, h2 { color: #bb1534; }
body { font-family: 'Open Sans', sans-serif; font-size: 12px; }
h1, h2, #menu { font-family: 'Open Sans Condensed', sans-serif; }

/** Layout and Styles **/
h1, h2, h3, h4, h5, h6 { line-height: 1.2; }
h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, li { margin-bottom: 15px; }

h1 { font-size: 40px; text-transform: uppercase; }
h2 { font-size: 34px; text-transform: uppercase; }

html { background: #000 url(../img/background.jpg) top center fixed no-repeat; width: 100%; }
body { line-height: 1.6; height: 900px; }

