/**
 * ExoSkeleton Styles
 * @author Guillaume VanderEst <gui@exodusmedia.ca>
 */

@import 'screen.css';

body { font-family: Arial, sans-serif; font-size: 13px; line-height: 1.4; }

#header { padding: 10px 0 20px 0; cursor: default; background-color: #aaa; color: #fff; border-bottom: 4px solid #888; }

#title { font-weight: bold; text-shadow: 0px 0px 10px #555; font-size: 40px; width: 960px; margin: 0 auto 0 auto; }
#title a { color: #fff; text-decoration: none; }
#title a:hover { color: #eee; }
#title a strong { color: #ddd; }
#title a:hover strong { color: #ccc; }

#subtitle { text-shadow: 0 0 10px #555; font-weight: bold; width: 960px; margin: 0 auto 0 auto; }

#body { width: 960px; margin: 15px auto 100px auto; }

#footer { cursor: default; width: 960px; margin: 0 auto 30px auto; color: #888; }
#footer a { color: #fff; background-color: #ccc; display: inline-block; margin: 0 3px 0 3px; padding: 3px 7px 3px 7px; border-radius: 3px; text-decoration: none; }
#footer a:hover { background-color: #aaa; }

pre { border: 1px solid #ccc; border-left: 5px solid #ccc; padding: 10px; margin-bottom: 15px; background: #eee; }

a { color: #800; }
a:hover, a:active { color: #a00; }

