@import 'reset.css';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

body { font-family: 'Open Sans', sans-serif; line-height: 1.7; font-size: 13px; }

form .required label { font-weight: bold; }

#sympocm-login { background: #003366; font-size: 12px; }
#sympocm-login #container { width: 350px; margin: 100px auto 0 auto; }
#sympocm-login h1 { cursor: default; color: #fff; font-size: 50px; text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); text-align: center; margin-bottom: -10px; font-weight: 500; }
#sympocm-login h1 strong { font-weight: 700; }
#sympocm-login h2 { color: #fff; font-size: 11px; text-align: center; font-weight: normal; display: none; }
#sympocm-login .form { background: #fff; border-radius: 10px; padding: 15px 30px 15px 30px; margin-top: 20px; }
#sympocm-login form .textbox label { display: inline-block; min-width: 100px; }
#sympocm-login form .textbox input { font-size: 16px; border: 1px solid #ccc; }
#sympocm-login form .checkbox { margin-left: 110px; font-size: 11px; }
#sympocm-login form .buttons { margin: 15px 0 0 100px; }
#sympocm-login #footer { cursor: default; margin: 15px 20px 15px 20px; font-size: 11px; color: #aaa; text-align: right; }
#sympocm-login #footer a { color: #aaa; }
#sympocm-login #footer a:hover { color: #ccc; }
#sympocm-login #footer #forgotten { float: left; }
